#nav-main {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding: 15px 30px;
  border-bottom: 4px solid $main-color-light-2;

  @media screen and (max-width: 600px) {
    justify-content: space-around;
    padding: 10px;
  }

  #home-page {
    @include absolute-center;
    max-width: 250px;

    @media screen and (max-width: 600px) {
      position: relative;
      transform: translate(0, 0);
      left: 0;
      top: 0;
    }

    img {
      margin-left: 10px;
      width: 50px;
    }
    div {
      @include flex-center;
    }
  }

  #git {
    flex-basis: 0;

    @include flex-center;
  }
}

#sign-up {
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  a:first-child {
    margin-right: 7px;
  }

  .main-button {
    width: 110px;
    height: 35px;
    font-size: 1.1rem;
  }
}

#sign-out {
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
