#landingPage {
  display: flex;
  // justify-content: flex-start;
  width: 100%;
  // height: 30vh;
  // position: relative;
  padding: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  #nav-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    li {
      margin: 3px 0;
    }
  }

  #landingPage-main {
    @include absolute-center;
    width: 50vw;
    // overflow: auto;
  }
}
