#landingPage {
  display: flex;
  // justify-content: flex-start;
  width: 100%;
  // height: 30vh;
  // position: relative;
  padding: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  #nav-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    li {
      margin: 8px 0;
    }
    li span {
      padding: 5px;
      font-size: 1.2rem;
      border-radius: 7px;
      font-size: 1.3rem;
    }
    li span:hover {
      background: rgb(221, 216, 216);
    }
  }

  #landingPage-main {
    @include absolute-center;
    width: 50vw;
    // overflow: auto;
  }

  #sign-out {
    text-align: center;
  }
}
